
/*Override BS*/
.nav-pills > li {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-pills > li > a {
    color:#eee;
    padding-left:20px; padding-right: 20px
}

.nav-pills > li{
    text-align: center;
    padding-top:30px; padding-bottom:30px
}

.nav-pills {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
}
.nav>li>a:focus, .nav>li>a:hover {
  color: #fff;
  background-color: #404040;
}
#header{
    height:50%;
    width:100%;
}
#mainContent{
    height:1000px;
    width:100%;
    margin-top:45%;
}
.denim{
    background-image: url("../images/denim-background.jpg");
    position:absolute;
    z-index:-1;
    height:300px;
    width:100%;
    background-attachment:fixed;    /* this keeps the background in place */
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.dp{
    position:absolute;
    z-index:0;
    background-color:#eee;
    border:2px solid #666;    
    height:180%;    /* this height difference allows the bg to show through */  
    width: 100%;
    text-align: center;
    top:50%;
    /*left:50%;*/
    background-color: transparent;
}
.pic img{
    height: 175px;
    width: 150px;
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
}
.name{
    font-size: 400%;
    font-family: serif;
}

blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 480px;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
left:30%;
color: #383838;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}

.subHeading{
    color: #383838;
    font-size: 1.7vw;
}